@using System.Drawing
@using Highcharts4Net
@using Highcharts4Net.Library.Options
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Highcharts4Net().LineChart(
    settings =>
    {
        settings.Chart.Inverted = true;
        //settings.XAxis.PlotLines.
    }).Render()

@ViewBag.Chart